.row {
  display: flex;
  /* justify-content: space-between; */
  gap: 1.2rem;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
  padding: 2rem;
  /* background-color: rgb(210, 236, 245); */
  /* padding: 1; */
  /* just for trying */
  margin-bottom: 2rem;
  border: 1px solid black;
  background-color: white;
}
