.header {
  /* background-color: lightgray; */
  /* padding: 2rem; */
  padding: 1.2rem 3.2rem;
  /*  */
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.heading {
  /* margin-bottom: 2rem; */
  font-size: 3.2rem;
  color: #f3f0ff;
  color: #e5dbff;
}

.primaryBtn {
  font-size: 1.8rem;
  padding: 1.6rem 2.4rem;
  border-radius: 8px;
  cursor: pointer;
}

.searchInput {
  justify-self: right;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.searchInput input {
  font-size: 2rem;
  padding: 1.2rem;
  border-radius: 8px;
  background-color: #e5dbff;
  color: #5f3dc4;
}

.searchInput label {
  font-size: 2rem;
  color: #e5dbff;
}

.dateBox {
  justify-self: left;
}

.dateBox p {
  font-size: 2rem;
  color: white;
}
